extends ../shared/template
block content
  .row
    .col-xs-12
      h2: a(href='/profile/edit')= user.email
  .row
    .col-xs-5
    .col-xs-2
      #image.img.thumbnail(style='background-image:url("#{user.profilePic}")')
  a.btn.btn-primary.editPro.wobble-horizontal(href='/profile/edit') Edit My Profile
    .col-xs-5
  .row
    .col-xs-12
      table.table.table-striped.table-hover.table-bordered
        thead
          tr
            th Email
            th Phone
            th Visible
        body
          tr
            td= user.email
            td= user.phone
            td= user.isVisible
  .row
    .col-xs-4
    .col-xs-4
      .aboutMe
        h3 About Me
        h5= user.tagline
        h5= user.aboutMe
    .col-xs-4
  .row
    each photo in user.photos
      .img.thumbnail#photo(style='background-image:url(#{photo});')

block scripts
