extends ../shared/template
block content
  .row
    .col-xs-12
      h2: a(href='/profile/edit')= user.email
      h5= user.aboutMe
  .row
    .col-xs-2
      a.thumbnail(href='#')
      a.btn.btn-primary(href='/profile/edit') Edit My Profile
      #image.img.thumbnail(style='background-image:url("#{user.profilePic}")')
    .col-xs-10
  .row
    .col-xs-12
      table.table.table-striped.table-hover.table-bordered
        thead
          tr
            th Email
            th Phone
            th Visible
        body
          tr
            td= user.email
            td= user.phone
            td= user.isPublic
  .row
    each photo in user.photos
      #image.img.thumbnail(style='background-image:url("#{user.photo}")')

block scripts
